body {
  width: 100vw;
  height: 100vh;
   background-color: white;
   color: black;
   font-family: 'Roboto', sans-serif;
}

body>div {
   min-height: 100%;
   margin: 0 10%;
}

header, main, footer {
}

nav {
   display: flex;
   justify-content: space-between;
   height: 75px;
}

nav>ul {
  margin-right: 20%;
  width: inherit%;
   display: grid;
   width: auto;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 7%;

}

nav>ul>li {
  width: 100%;
   list-style-type: none;
   font-weight: bold;
   color: rgb(94, 191, 247);
   font-size: 1.3em;
}

nav>ul li:hover {
   color: rgb(0, 139, 219);
   cursor: pointer;
}

header {
   text-align: center;
   margin-top: 3%;
}

hr {
  width: 100%;
}

main {
   overflow: auto;
   padding-bottom: 5em;
}

main>section {
   margin: auto 5em;;
}

footer {
   position: relative;
   margin-top: -50px;
   height: auto;
   clear: both;
}

#arrow {
   width: 50px;
   height: auto;
   margin: auto;
}

#arrow-holder {
  display: grid;
  grid-template-columns: auto;
   height: 80px;
   margin: 5% auto;
}

#header-bio {
   display: grid;
   grid-template-columns: 25% 75%;
   grid-column-gap: 5%;
   width: 75%;
   height: auto;
   position: relative;
   margin: auto auto;
}

#bio-stats {
   display: grid;
   grid-template-columns: 30% 60%;
   grid-column-gap: 25px;
   text-transform: capitalize;
   color: rgb(189, 189, 189);
}

.selected-menu:not(.logo) {
   color: rgb(41, 91, 138);
}

.selected-menu:not(.logo):hover {
   color: rgb(40, 44, 46);
}

.logo {
   padding-bottom: 0;
   width: auto;
   height: auto;
}

.logo img {
   width: 4em;
   height: auto;
   border-radius: 5px;
   margin-top: 10px;
}

.logo img:hover {
   cursor: pointer;
}

.show-time {
  display: grid;
  grid-template-columns: auto;
   background-color: white;
   width: 80%;
   height: 20%;
   margin: 0 auto;
   border: 3px black solid;
   border-radius: 10px;
   box-shadow: 5px 5px 5px black;
   padding: 5px 10px;
}

.words {
   width: 90%;
   height: 105px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-size: 2.0em;
}

.my-bio-pic {
   border: 2px rgb(19, 136, 186) solid;
   width: 100%;
   height: auto;
   max-width: inherit;
   border-radius: 5px;
   max-height: inherit;
}

.my-bio-pic:hover {
   border: 2px rgb(10, 80, 110) solid;
   animation: shake 0.5s;
   animation-iteration-count: infinite;
}

.left-bio {
   text-align: left;
}

.right-bio {
   text-align: left;
}

.right-bio:hover {
   animation: shake 0.5s;
   animation-iteration-count: infinite;
}

.info-bio {
   margin-top: 5%;
   font-style: italic;
}

.info-bio>p {
   margin-bottom: 3%;
}

.grid-1 {
   display: grid;
   grid-template-columns: auto;
}

.stats{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5%;
  text-transform: capitalize;
}

.stats>.stat-items>.lab {
   margin-right: .5em;
}

.project-place {
   display: grid;
   grid-template-columns: auto;
   padding: 3% 2%;
}

.project-place p{
   font-size: 1.1em;
}

.url-place {
   display: grid;
   grid-template-columns: auto auto;
   grid-column-gap: 5%;
}

.url {
   color: rgb(105, 220, 255);
}

.url:hover {
   color: rgb(0, 104, 135);
   text-decoration: underline;
   cursor: pointer;
}

.bye {
   display: none;
}

.lab {
   color: rgb(107, 107, 107);
   /* font-style: italic; */
   font-weight: bold;
   font-size: 1.3em;
}

.form-data {
   margin: 5% auto;
   font-size: 1.7em;
   align-items: center;
}

.form-data .data-field {
   display: grid;
   grid-template-columns: 10% auto;
   grid-column-gap: 20px;
   margin-bottom: 2%;
}

.form-data input {
   margin-left: 5em;
   width: auto;
   height:2em;
   font-size: .6em;
   border: 2px black solid;
   border-radius: 5px;
}

.form-data select {
   margin-left: 5em;
   width: auto;
   height: 2em;
   font-size: .6em;
   padding-left: 1.2em;
   border: 2px black solid;
   border-radius: 5px;
}

.form-data textArea {
   margin-left: 6em;
   width: auto;
   height:10em;
   font-size: .6em;
   border: 2px black solid;
   border-radius: 5px;
   resize: vertical;
}

.form-data button {
   background-color: green;
   display: block;
   color: white;
   width: 150px;
   height: 30px;
   align-items: center;
   margin: 5% 50%;
}

.form-data label {
   text-transform: capitalize;
}

.footer-holder {
   display: flex;
   justify-content: space-between;
   text-align: center;
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: capitalize;
}

.footer-holder .left-side , .footer-holder .right-side {
   font-size: .9em;
   font-style: italic;
}

.footer-holder .middle {
   font-size: 1.1em;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
